.mat-mdc-button-base{
    border-radius: 8px !important;
    color: #2C85BC !important;
}

.mat-accent{
    color: #01426A !important;
    font-family: Montserrat, "Helvetica Neue", sans-serif !important;
}